.footer-line {
  height: 2px;
  background: #d52b91;
  align-self: stretch;
}

.container-footer {
  display: flex;
  padding: 63px 44px 26px 44px;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
}

.footer-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.footer-text {
  display: flex;
  padding: 0 30px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}
.footer-textp {
  color: var(--pink, #d52b91);
  font-family: "rama-gothic-c";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.75px;
}

.footer-reseaux {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex-shrink: 0;
}
.footer-icon-reseaux {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.footer-icon-shop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 335px;
}

.footer-fnac {
  width: 23px;
  height: 24px;
  flex-shrink: 0;
  aspect-ratio: 23/24;
}

.footer-lireka {
  width: 42px;
  height: 20px;
  aspect-ratio: 21/10;
}
.footer-amazon {
  width: 53px;
  height: 16px;
}
.footer-dargaux {
  width: 66px;
  height: 8px;
}
