.container-part-3 {
}
.part-3-foudre {
  position: relative;
}
#lightning-1 {
  opacity: 0;
  position: absolute;
}
.part-3-born {
  width: 100%;
}

.part-3-storm {
  width: 100%;
  height: 100vh;
}

.part-3-parallax {
  background-color: rgb(0, 0, 0);
  position: relative;
  height: 100vh;
}

.part-3-case {
  z-index: 2;
}

#case-1 {
  position: absolute;
  top: 7%;
  left: 0%;
}

#case-2 {
  position: absolute;
  bottom: 7%;
  left: 0%;
}
