.container-part-5 {
  position: relative;
  z-index: 2;
}

.part-5-sleeping {
  width: 100%;
}

.part-5-snow {
  position: relative;
  overflow: hidden;
}
.part-5-snowflake {
  position: absolute;
  top: -23%;
  bottom: 50%;
}

.part-5-fin {
  position: relative;
}
#part-5-front {
  position: absolute;
  top: 0;
  bottom: 0;
}

// .part-5-snowflake {
//   width: 4%;
//   height: 4%;
//   border-radius: 50%;
//   position: absolute;
//   top: -10%;
//   left: 50%;
//   transform: translateX(-50%);
// }
