.container-part-4 {
  height: 200vh;
  background-color: var(--bg-black);
}

.part-4-coat {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.part-4-outside {
  z-index: 4;
  opacity: 0;
}

.part-4-baby,
.part-4-outside {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.part-4-baby {
  z-index: 3;
  opacity: 1;
}

.part-4-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-black);
  z-index: 2;
  opacity: 1;
  pointer-events: none;
}
