.part-3-parallaxeffect {
  background-color: var(--bg-black);
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.part-3-born {
  width: 100%;
}

.part-3-thunderstorm {
  position: relative;
}

.part-3-storm {
  width: 100%;
  height: 100vh;
}

.part-3-case {
  z-index: 2;
}
#case-1 {
  position: absolute;
  top: 7%;
  opacity: 0;
  left: 0%;
  width: 100%;
}

#case-2 {
  position: absolute;
  bottom: 7%;
  opacity: 0;
  left: 10%;
  width: 100%;
}

@media (max-width: 1280px) {
  #case-2,
  #case-2 {
    width: 90%;
  }
}

#lightning-1 {
  opacity: 0;
  position: absolute;
  top: 0%;
  left: 0%;
}
