.container-part-5 {
  position: relative;
  z-index: 1;
}

.part-5-snowing {
  position: relative;
  overflow: hidden;
}
.part-5-crystal {
  position: absolute;
  width: 100%;
  top: -23%;
  z-index: 10;
}

.part-5-pic-look,
.part-5-pic-snow {
  position: relative;
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
