.container-part-1 {
  position: relative;
}
.part-1-galaxy {
  position: relative;
  overflow: hidden;
}

.part-1-image {
  position: absolute;
  top: 45%;
  left: 51%;
  width: 3%;
  height: 4%;
  z-index: 2;
  border-radius: 100%;
  cursor: pointer;
  z-index: 2;
  transition: 0.8s;
}

.part-1-image:hover {
  transform: scale(2);
}
.part-1-text {
  position: absolute;
  bottom: 15%;
  left: 5%;
  color: var(--yellow);
  font-family: "rama-gothic-C";
  font-size: 92px;
  font-weight: 700;
  animation: opacity 3s infinite;
  opacity: 1;
}

@keyframes opacity {
  50% {
    opacity: 0;
  }
}

@media (max-width: 1280px) {
  .part-1-text {
    bottom: 15%;
  }
}

.part-1-store {
  position: absolute;
  right: 12%;
  top: -10%;
  width: 15%;
  height: 25%;

  .part-1-left-leg {
    position: relative;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 100%;
    z-index: 4;
    animation: moveUpDown1 1.5s infinite;
    transform-origin: top center;
  }

  .part-1-right-leg {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 50%;
    height: 100%;
    z-index: 4;
    animation: moveUpDown2 1.5s infinite;
    transform-origin: top center;
  }
}

.part-1-star {
  position: absolute;
  z-index: 3;
  left: 18%;
  top: 80%;

  .part-1-star-pink {
    animation: rotate 1.5s infinite;
    transform-origin: center center;
  }

  .part-1-star-pink-text {
    animation: rotate 1.5s infinite;
    transform-origin: center center;

    z-index: 2;
    opacity: 0;
  }
}

.part-1-store:hover {
  right: 10%;
  width: 20%;
  height: 30%;

  .part-1-left-leg,
  .part-1-right-leg {
    width: 40%;
    height: 90%;
    animation-play-state: paused;
    transform: translateY(0) !important;
  }

  .part-1-right-leg {
    top: 7%;
    right: 10%;
  }

  .part-1-left-leg {
    top: 7%;
    left: 10%;
  }

  .part-1-star {
    top: 5%;
    left: 15%;
  }

  .part-1-star-pink {
    animation-play-state: paused;
    opacity: 0;
    transform: translateY(0) !important;
  }

  .part-1-star-pink-text {
    width: 100%;
    height: 65%;
    margin-top: 20%;
    animation-play-state: paused;
    transform: translateY(0) !important;
    opacity: 1;
  }
}
.part-1-store:hover {
  .part-1-star-pink-text {
    margin-top: 10%;
    margin-left: -5%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-85deg);
  }
  50% {
    transform: rotate(0deg);
  }
  50.01% {
    transform: rotate(85deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes moveUpDown2 {
  0% {
    transform: translateY(1px);
  }
  50% {
    transform: translateY(70px);
  }
  50.01% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(-1px);
  }
}

@keyframes moveUpDown1 {
  0% {
    transform: translateY(70px);
  }
  50% {
    transform: translateY(-1px);
  }
  50.01% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(70px);
  }
}
