* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  width: 100%;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  color: var(--yellow);
  font-size: 100px;
}

html {
  --bg-black: #000;
  --pink: #d52b91;
  --white: #fff;
  --yellow: #dadc7b;
  --dark-grey: #0b0b0b;
}

button {
  background: none;
  border: none;
}
ul li {
  list-style-type: none;
}
h2 {
  font-family: "rama-gothic-c";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 93.768%;
  letter-spacing: 2.5px;
}

a {
  text-decoration: none;
}

h3 {
  font-family: "rama-gothic-c";
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.25px;
}

p {
  text-align: justify;
  font-family: "Figtree";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 137.346%;
}
